body {
	min-height: initial;
}
.button {
	width: 180px;
}
.message {
	top: 70px;
	text-align:center;
	color: yellow;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	width: 800px;
	position: absolute;
}
.scene {
	float: left;
	position: relative;
	width: 800px;
	height: 600px;
	margin: 0 8px;
	overflow: hidden;
	background: #032a54;
}

.menu {
	font-family: 'Open Sans', sans-serif;
	line-height: 40px;
	font-size: 20px;
    margin: 8px;
    margin-left: 808px;
    margin-right: 8px;
}
.change {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	font-size: 20px;
    margin: 8px;
    margin-left: 808px;
    margin-right: 8px;
}

.menu button {
	margin-bottom: 8px;
	background-color: #032a54 !important;
}

.change button {
	margin-top: 8px;
	background-color: #032a54 !important;
}

.ground {
	width: 400px;
	background-color: #f5f5f5;
	border-radius: 50%;
	width: 900px;
	height: 200px;
	position: absolute;
	bottom: 0;
	margin-bottom: -80px;
	right: -40px;
	background-color: #228B22;
}

.moon {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 100px;
	left: 100px;
	background-color: #ffffaa;
	border-radius: 50%;
	box-shadow: 0 0 40px #ffffaa;
}

.stars {
	position: absolute;
	width: 100%;
	height: 100%;
}

.star {
	position: absolute;
	border-radius: 50%;
	width: 1px;
	height: 1px;
	background-color: #ffffff;
	box-shadow: 0 0 10px 2px white;
}

.star:nth-child(1) {top: 100px;left: 685px;}
.star:nth-child(2) {top: 37px;left: 537px;}
.star:nth-child(3) {top: 150px;left: 350px;}
.star:nth-child(4) {top: 50px;left: 320px;}
.star:nth-child(5) {top: 30px;left: 755px;}
.star:nth-child(6) {top: 70px;left: 483px;}
.star:nth-child(7) {top: 18px;left: 80px;}

.house {
	position: absolute;
	width: 300px;
	height: 365px;
	bottom: 50px;
	right: 250px;
}

.house .wall {
	width: 100%;
	height: 260px;
	position: absolute;
	bottom: 0;
	background-color: #180c00;
	background: repeating-linear-gradient(to bottom, #573808 0%,#3a1e12 15%);
}
.windows {
	position: absolute;
	left: 25px;
	bottom: 150px;
	display: flex;
	flex-wrap: wrap;
	min-height: 70px;
	min-width: 70px;
	max-width: 170px;
	background-color: #573808;
	border: 5px solid #3a1e12;
	box-shadow: 0 0 5px black;
}
	
.house .window {
	position: absolute;
	height: 50px;
	width: 65px;
	background-color: #573808;
	border: 5px solid #3a1e12;
	bottom: 53px;
	left: 50px;
	box-shadow: 0 0 5px black;
}

.house .window:nth-child(3) {left: 50px; bottom: 20px;}
.house .window .light:nth-child(3) {left: 50px; bottom: 20px;}
.house .window:nth-child(4) {left: 170px; bottom: 20px;}
.house .window .light:nth-child(4) {left: 170px; bottom: 20px;}
.house .window:nth-child(5) {left: 50px; bottom: 100px;}
.house .window .light:nth-child(5) {left: 50px; bottom: 100px;}
.house .window:nth-child(6) {left: 170px; bottom: 100px;}
.house .window .light:nth-child(6) {left: 170px; bottom: 100px;}
.house .window:nth-child(7) {left: 50px; bottom: 180px;}
.house .window .light:nth-child(7) {left: 50px; bottom: 180px;}
.house .window:nth-child(8) {left: 170px; bottom: 180px;}
.house .window .light:nth-child(8) {left: 170px; bottom: 180px;}

.example {
	height: 35px;
	width: 200px;
	bottom: 480px;
	position: absolute;
	right: 360px;
	text-align: center;
	font-family:sans-serif;
	font-size: 24px;
	color: white;
}
.answer {
	position: absolute;
	left: 100px;
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	font-family:sans-serif;
	font-size: 72px;
	color: #ffff00;
}
.light {  
	text-align: center;
	line-height: 50px;
	font-family:sans-serif;
	font-size: 24px;
	color: #333;
	height: 50px;
	width: 65px;
	margin: 10px;
	background-color: #ffff00;
	opacity: 0.8;
	box-shadow: 0 0 100px yellow;
}

.lights {
	display: flex;
	flex-wrap: wrap;
	min-height: 70px;
	width: 260px;
	border: 1px solid black;
}

.house .window .light {
	width: 100%;
	height: 100%;
	background-color: #ffff00;
	opacity: 0.8;
	box-shadow: 0 0 100px yellow;
	margin: 0;
}

.house .roof {
	width: 340px;
	height: 170px;
	bottom: 260px;
	right: -20px;
	position: absolute;
	overflow: hidden;
}

.house .roof .roof-wall {
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: #573808;
	-webkit-transform: rotate(45deg);
	left: 25px;
	top: 60px;
	border: 5px solid #3a1e12;
	box-shadow: 0 0 30px black inset;
	background: repeating-linear-gradient(45deg, #573808 0%,#573808 5%,#3a1e12 5%,#3a1e12 5%,#3a1e12 5%,#573808 5%,#3a1e12 6%);
}

.house .wall .wood {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background: repeating-linear-gradient(3deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0) 2%,#3a1e12 2%,#3a1e12 2%,#573808 2%,#3a1e12 3%);
}

.house .wall .wood:nth-child(2) {
	opacity: 0.3;
	background: repeating-linear-gradient(-4deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0) 2%,#3a1e12 2%,#3a1e12 2%,#573808 2%,#3a1e12 3%);
}

.meteors {
	position: absolute;
	width: 100%;
	height: 100%;
}

.meteor {
	position: absolute;
	top: 50px;
	left: 280px;
	width: 300px;
	height: 1px;
	-webkit-transform: rotate(-45deg);
	background-image: -webkit-linear-gradient(left, white, rgba(255,255,255,0));
}

.meteor:before {
	content: ' ';
	position: absolute;
	width: 4px;
	height: 5px;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0 0 14px 4px white;
	margin-top: -2px;
}

@-webkit-keyframes meteor {
	0% {margin-top: -300px; margin-right: -300px; opacity: 1}
	8% {opacity: 0}
	10% {margin-top: 300px; margin-left: -600px; opacity: 0}
	100% {opacity: 0}
}

.meteor {top: 100px;left: 480px;-webkit-animation: meteor 10s linear infinite;}
		
.meteor:nth-child(1) {top: 100px;left: 480px;-webkit-animation: meteor 10s linear infinite;}
.meteor:nth-child(2) {top: 200px;left: 280px;-webkit-animation: meteor 10s linear infinite;}
.meteor:nth-child(3) {top: 250px;left: 790px;-webkit-animation: meteor 9s linear infinite;}
	